{% extends 'Website/base.html' %}

{% block title %}
	<title>Music</title>
{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<a href='{% url 'play_it' %}' class='btn btn-danger'>Generate Music</a>
	</div>
</div>

<div class="container">
	<div class="row">
		<a href='{% url 'index' %}' class='btn btn-danger'>Home</a>
	</div>
</div>

<div class="container">
	<div class="row">
		<h2>Play the thing</h2>
		<button id='butt' class='btn btn-success' onClick="operate()">Play</button>
	</div>
</div>

<script type='text/javascript' src='http://www.midijs.net/lib/midi.js'></script>
<script type="text/javascript">
	function operate()
	{
		if($('#butt').text() == 'Play')
		{
			MIDIjs.play('/media/output.mid');
			$('#butt').removeClass('btn-success');
			$('#butt').addClass('btn-danger');
			$('#butt').text('Stop');
		}
		else
		{
			MIDIjs.stop();
			$('#butt').removeClass('btn-danger');
			$('#butt').addClass('btn-success');
			$('#butt').text('Play');	
		}
	}
</script>

{% endblock %}